.devices-container p {
    font-size: 24px;
    padding: 5px;
    color: white;
    cursor: pointer;
    max-width: fit-content;
}

.devices-container p:hover {
    color: rgb(198, 198, 198);
}

.devices-container {
    width: 700px;
    height: 450px;
    background: rgba(0, 0, 0, 0.199);
    position: absolute;
    margin-top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 1px 1px 10px 6px rgba(9, 9, 9, 0.624);
    border-radius: 20px;
}