* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 940px;
    height: 650px;
    background: #000f29;
    background: radial-gradient(circle,rgba(0, 15, 41, 1) 0%, rgba(0, 7, 13, 1) 100%);
    position: absolute;
    z-index: 0;
    margin-left: 60px;
}